.navbar-wrapper{
  padding-left: 10%;
  padding-right: 10%;
}
.navbar-default{
  text-align: right;
}
.navbar-brand img{
  height: auto;
  max-width: 200px;
}
.breadcrumb{
  margin: 4.5% 10% 0% 13.5%;
  position: fixed;
}
.container-fluid{
  margin: 10% 10% 0% 10%;
}
.col-md-9{
  margin-left: 5%;
}
.row img{
	height: 2.5em;
}
.col-md-6{
  margin-left: 2%;
}
label{
	display: block;
	margin-bottom: 1.875em;
}
.col-md-9 p{
  font-style: italic;
  background-color: beige;
  text-align: center;
}

