.navbar-wrapper{
	padding-left: 10%;
	padding-right: 10%;
}
.navbar-default{
	text-align: right;
}
.navbar-brand img{
	height: auto;
	max-width: 200px;
}
.row{
	padding-left: 10%;
	padding-right: 10%;
}
.btn{
	width: 100%;
}
.btn-default{
	border-radius: 0px;
}
.btn-success{
	margin-top: 5px;
}
.btn-primary{
	margin-top:10px;
	border-radius: 0px;
}
.btn-info{
	border-radius: 0px;
}
.btn-secondary{
	background-color: white;
	border-radius: 0px;
	margin-top: 20px;
}
.alert{
	margin: 0.5% 3% 0% 3.5%;
	border-radius: 0px;
}
h1{
	font-size: 18px;
	margin: 6% 10% 0% 3.5%;
}
h2{
	font-size: 21px;
}
.col-md-3{
	margin-left: 3.5%;
	margin-right: 0%;
	margin-top: 3%;
	padding:0px;
}
.col-md-8{
	margin-top: 3%;
	margin-left: 2%;
}
.col-md-2{
	margin-top: 3%;
	margin-left: 3.5%;
	margin-right: 0%;
	padding:0px;
}
.panel{
	border-radius: 0px;
	padding: 0px;
}