form{
  margin: 30px 80px 0px 80px;
}
.breadcrumb{
	margin: 4.5% 10% 0% 13.5%;
	position: fixed;
}
#radio{
  margin: 0px 10px 0px 10px;
}
.row{
  border-radius: 0px;
}
.btn .btn-default{
  margin-right: 15px;
}
.navbar-brand img{
  height: auto;
  max-width: 200px;
}
